@use "../abstracts/variables" as vars;

.button {
  background-color: vars.$primary;
  color: vars.$text;
  border: 2px solid vars.$secondary;

  &:hover {
    background-color: vars.$secondary;
    color: vars.$primary;
  }
}
