@use "../abstracts/index" as abstracts;

.card {
  @include abstracts.card;
}

section {
  @include abstracts.container;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
  font-family: abstracts.$font-family-righteous;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: abstracts.$font-family-righteous;
}
body {
  font-family: abstracts.$font-family-serif;

}
