@use "../abstracts/index" as abstracts;

body {
  background: abstracts.$primary !important;
}

.home_main {
  @include abstracts.container;
  color: abstracts.$black;
  padding: abstracts.$spacing-unit;
  min-height: 100vh;
}

/*
  ######################################################################################
  SECCION SOCIALS
  ######################################################################################
*/
.socials {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    @include abstracts.card; // Aplica el mixin card desde abstracts
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: abstracts.$white;
    &:hover {
      transform: scale(abstracts.$card-hover-scale); // Efecto de alzamiento
      box-shadow: calc(abstracts.$card-shadow-offset * 1.5)
        calc(abstracts.$card-shadow-offset * 1.5) abstracts.$card-shadow-blur
        abstracts.$card-shadow-color; // Sombra más pronunciada en hover
    }
  }

  &__link {
    text-decoration: none;
    color: abstracts.$green; // Variable para texto verde
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: darken(
        abstracts.$green,
        10%
      ); // Verde ligeramente más oscuro en hover
    }
  }

  &__icon {
    padding: 1.5rem;
    width: 2rem;
  }
  i {
    font-size: 3rem;
  }
}
/*
  ######################################################################################
  SECCION GRID
  ######################################################################################
*/
.poster-grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 2rem;
  align-items: start;
  @supports not (display: grid) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__main {
    max-width: 100%;
    grid-column: span 12; // Contenedor principal
    display: grid;
    grid-template-columns: repeat(12, 1fr); // Ajustado al diseño en columnas

    @media (max-width: 768px) {
      grid-template-columns: 1fr; // Una columna en pantallas pequeñas
    }

    .box {
      margin-bottom: auto;
      margin-right: 2rem;
      @media (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 2rem;
      }

      h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
        width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        line-height: 1.2;
        font-family: abstracts.$font-family-righteous;
      }
      p {
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      &.green-card {
        @include abstracts.card;
        grid-column: span 4;
        background-color: abstracts.$secondary;
        @media (max-width: 768px) {
          grid-column: span 12;
        }
      }

      &.transp-card {
        @include abstracts.card;
        grid-column: span 4;
        background-color: transparent;
        @media (max-width: 768px) {
          grid-column: span 12;
        }
      }

      &.cian-card {
        @include abstracts.card;
        grid-column: span 3;
        background-color: abstracts.$terciary;
        @media (max-width: 768px) {
          grid-column: span 12;
        }
      }
    }
  }
}
