@use "../abstracts/index" as abstracts;

.header {
  background: abstracts.$background;
  color: abstracts.$black;
  padding: abstracts.$spacing-unit;

  a {
    text-decoration: none;
    color: abstracts.$black;
  }

  border-bottom: 4px solid abstracts.$black;
}

.header-logo {
  font-family: abstracts.$font-family-righteous;
  font-size: 3rem;
  line-height: 1;

  @media (width <= 768px) {
    font-size: 1rem;
    margin-left: -8px;
  }

  a {
    color: abstracts.$black;
    transition: color 0.3s ease;

    &:hover {
      color: abstracts.$secondary;
    }
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include abstracts.container;
}

.header-menu {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;

  li {
    a {
      display: inline-block;
      font-size: 1.125rem; // text-lg
      font-weight: 500; // font-medium
      text-decoration: none;
      transition: all 0.15s ease-in-out;
      @media (width <= 768px) {
        font-size: 0.9rem;
        margin-right: -8px;
      }
      &:hover {
        color: abstracts.$secondary;
      }
    }
  }

  // Estilos específicos para los iconos de redes sociales
  .header-social {
    a {
      font-size: 1.5rem; // Tamaño más grande para los iconos
      transition: color 0.3s ease;

      &:hover {
        color: abstracts.$secondary;
      }
    }

    @media (width <= 768px) {
      display: none; // Oculta los iconos en pantallas pequeñas
    }
  }
}
