<footer class="footer">
  <!-- CONTACT -->
  <div class="footer-contact">
    <p>This is the footer. Should it include contact information?</p>
  </div>
  <!-- NAV -->
  <div class="footer-nav">
    <p>Logo</p>
    <nav class="nav">
      <ul>
        <li><a href="/">Front Page</a></li>
        <li><a href="/pages/two">Home</a></li>
        <li><a href="/pages/three">About</a></li>
        <li><a href="/pages/four">Contact</a></li>
      </ul>
    </nav>
    <div>
      <i>1</i>
      <i>2</i>
      <i>3</i>
    </div>
  </div>
  <!-- SECTION BLUE -->
  <div class="footer-blue">
    <picture>
      <source
        srcset="./assets/images/logo.png?as=webp&width=350"
        type="image/webp"
      />
      <img
        src="./assets/images/logo.png?width=350"
        alt="Universitat Oberta de Catalunya"
        class="uoc-logo"
      />
    </picture>
    <p>
      This wireframe has been created exclusively for its use within the “HTML
      and CSS Tools II” course at the UOC’s Master Program in Website and Web
      App Development. Its reproduction and other uses are not authorized.
      &copy; March 2021 - Jordi Tarrida Checa and Universitat Oberta de
      Catalunya.
    </p>
  </div>
</footer>
