<section class="big-img">
  <picture>
    <source
      srcset="
        ./assets/images/maximalfocus-HakTxidk36I-unsplash.jpg?as=webp&width=350
      "
      type="image/webp"
    />
    <img
      src="./assets/images/maximalfocus-HakTxidk36I-unsplash.jpg?width=350"
      alt="Universitat Oberta de Catalunya"
      class="uoc-logo"
    />
  </picture>
  <div>
    <p>
      Far far away, behind the word mountains, far from the countries Vokalia
      and Consonantia, there live the blind texts. Separated they live in
      Bookmarksgrove right at the coast of the Semantics, a large language
      ocean. Far far away, behind the word mountains.
    </p>
    <p>More paragraphs and/or pictures can be included in this position.</p>
  </div>
</section>
