<section class="socials">
  <h2 class="visually-hidden">Socials section</h2>
  <ul class="socials__list">
    <li class="socials__item">
      <a
        href="https://github.com/eliancodes"
        target="_blank"
        title="Go to GitHub"
        class="socials__link"
      >
        <i class="fa fa-github"></i>
      </a>
    </li>
    <li class="socials__item">
      <a
        href="https://www.twitter.com/eliancodes"
        target="_blank"
        title="Go to Twitter"
        class="socials__link"
      >
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li class="socials__item">
      <a
        href="https://www.linkedin.com/in/elianvancutsem"
        target="_blank"
        title="Go to LinkedIn"
        class="socials__link"
      >
        <i class="fa fa-linkedin"></i>
      </a>
    </li>
  </ul>
</section>
