<section class="speakers">
  <h2>Speakers</h2>
  <div class="speakers-grid">
    <include src="components/card.html">
      { "image":
      "./assets/images/maximalfocus-HakTxidk36I-unsplash.jpg?width=350", "name":
      "Nombre del ponente", "title": "Título del ponente", "description":
      "Descripción del ponente" }
    </include>
    <include src="components/card.html">
      { "image":
      "./assets/images/maximalfocus-HakTxidk36I-unsplash.jpg?width=350", "name":
      "Nombre del ponente", "title": "Título del ponente", "description":
      "Descripción del ponente" }
    </include>
    <include src="components/card.html">
      { "image":
      "./assets/images/maximalfocus-HakTxidk36I-unsplash.jpg?width=350", "name":
      "Nombre del ponente", "title": "Título del ponente", "description":
      "Descripción del ponente" }
    </include>
    <include src="components/card.html">
      { "image":
      "./assets/images/maximalfocus-HakTxidk36I-unsplash.jpg?width=350", "name":
      "Nombre del ponente", "title": "Título del ponente", "description":
      "Descripción del ponente" }
    </include>
    <include src="components/card.html">
      { "image":
      "./assets/images/maximalfocus-HakTxidk36I-unsplash.jpg?width=350", "name":
      "Nombre del ponente", "title": "Título del ponente", "description":
      "Descripción del ponente" }
    </include>
    <include src="components/card.html">
      { "image":
      "./assets/images/maximalfocus-HakTxidk36I-unsplash.jpg?width=350", "name":
      "Nombre del ponente", "title": "Título del ponente", "description":
      "Descripción del ponente" }
    </include>
  </div>
  <div class="speakers-footer">
    <p>If necessary, more speakers can be added</p>
  </div>
</section>
