<section class="container speakers">
  <h2>Speakers</h2>
  <div class="speakers-grid">
    <!-- SPEAKER -->
    <div class="speaker">
      <picture>
        <source
          srcset="
            ./assets/images/maximalfocus-HakTxidk36I-unsplash.jpg?as=webp&width=350
          "
          type="image/webp"
        />
        <img
          src="./assets/images/maximalfocus-HakTxidk36I-unsplash.jpg?width=350"
          alt="Universitat Oberta de Catalunya"
          class="uoc-logo"
        />
      </picture>
      <div>
        <h3>Speaker Name</h3>
        <p>Speaker Title</p>
        <p>Speaker Description</p>
      </div>
    </div>
    <!-- SPEAKER -->
    <div class="speaker">
      <picture>
        <source
          srcset="
            ./assets/images/maximalfocus-HakTxidk36I-unsplash.jpg?as=webp&width=350
          "
          type="image/webp"
        />
        <img
          src="./assets/images/maximalfocus-HakTxidk36I-unsplash.jpg?width=350"
          alt="Universitat Oberta de Catalunya"
          class="uoc-logo"
        />
      </picture>
      <div>
        <h3>Speaker Name</h3>
        <p>Speaker Title</p>
        <p>Speaker Description</p>
      </div>
    </div>
    <!-- SPEAKER -->
    <div class="speaker">
      <picture>
        <source
          srcset="
            ./assets/images/maximalfocus-HakTxidk36I-unsplash.jpg?as=webp&width=350
          "
          type="image/webp"
        />
        <img
          src="./assets/images/maximalfocus-HakTxidk36I-unsplash.jpg?width=350"
          alt="Universitat Oberta de Catalunya"
          class="uoc-logo"
        />
      </picture>
      <div>
        <h3>Speaker Name</h3>
        <p>Speaker Title</p>
        <p>Speaker Description</p>
      </div>
    </div>
    <!-- SPEAKER -->
    <div class="speaker">
      <picture>
        <source
          srcset="
            ./assets/images/maximalfocus-HakTxidk36I-unsplash.jpg?as=webp&width=350
          "
          type="image/webp"
        />
        <img
          src="./assets/images/maximalfocus-HakTxidk36I-unsplash.jpg?width=350"
          alt="Universitat Oberta de Catalunya"
          class="uoc-logo"
        />
      </picture>
      <div>
        <h3>Speaker Name</h3>
        <p>Speaker Title</p>
        <p>Speaker Description</p>
      </div>
    </div>
    <!-- SPEAKER -->
    <div class="speaker">
      <picture>
        <source
          srcset="
            ./assets/images/maximalfocus-HakTxidk36I-unsplash.jpg?as=webp&width=350
          "
          type="image/webp"
        />
        <img
          src="./assets/images/maximalfocus-HakTxidk36I-unsplash.jpg?width=350"
          alt="Universitat Oberta de Catalunya"
          class="uoc-logo"
        />
      </picture>
      <div>
        <h3>Speaker Name</h3>
        <p>Speaker Title</p>
        <p>Speaker Description</p>
      </div>
    </div>
    <!-- SPEAKER -->
    <div class="speaker">
      <picture>
        <source
          srcset="
            ./assets/images/maximalfocus-HakTxidk36I-unsplash.jpg?as=webp&width=350
          "
          type="image/webp"
        />
        <img
          src="./assets/images/maximalfocus-HakTxidk36I-unsplash.jpg?width=350"
          alt="Universitat Oberta de Catalunya"
          class="uoc-logo"
        />
      </picture>
      <div>
        <h3>Speaker Name</h3>
        <p>Speaker Title</p>
        <p>Speaker Description</p>
      </div>
    </div>
  </div>
  <p>If necessary, more speakers can be added</p>
</section>
